/* imports */

/* Iconos */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");

/* Quicksand Font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* Roboto Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    /* Color palette */
    --very_light_pink: #C7C7C7;
    --hospital_green: #ACD9B2;
    --salmonRed: #d04949;
    --salmonRed_opacity: #d049495f;
    --white: #ffffff;
    --gray: #7d7c7c;
    --gray_light: #7d7c7c69;
    --dark: #232830;
    --black: #000000;

    /* elements color */
    --textInputField: #f7f7f7;

    /* Fonts */
    --sm: 14rem;
    --md: 16rem;
    --lg: 18rem;

    --h1_fontSize: var(--lg);
    --h1_title: bold var(--h1_fontSize) 'Quicksand', sans-serif;
    --h1_body: var(--h1_fontSize) 'Quicksand', sans-serif;
    --h1_price: bold var(--h1_fontSize) 'Roboto', sans-serif;

    --card_size: 200rem;
}

html{
    font-size: 6.25%;
}

body{
    width: 100%;
    height: 100vh;
    padding: 20rem;

    display: grid;
    place-items: center;
    /* overflow: hidden; */

    background: var(--white);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    list-style: none;
    outline: none;
    appearance: none;
    border: none;
    text-decoration: none;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 52rem;

    width: 90%;
    max-width: 430rem;
}

.logo{
    height: 46rem;
}

.data{
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 20rem;
}

.input{
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 8rem;

    font: var(--h1_title);
}

.input input{
    border-radius: 8rem;
    padding: 12rem;

    background: var(--textInputField);
    font: var(--h1_body);
}

.actions{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32rem;

    font: var(--h1_body);
}

.actions input{
    color: var(--white);
    background: var(--hospital_green);
}

.actions input:hover{
    color: var(--hospital_green);
    background: var(--white);
}

.actions a{
    color: var(--hospital_green);
}

.primary_button{
    width: 100%;

    padding: 20rem;
    border-radius: 10rem;
    font: var(--h1_title);

    cursor: pointer;
    border:4rem solid var(--hospital_green);
}

.signUp_button{
    color: var(--hospital_green);
    background: var(--white);
}

.signUp_button:hover{
    background: var(--hospital_green);
    color: var(--white);
}

.login_footer{
    width: 100%;
}

#invalid_text{
    color: var(--salmonRed);
}

#invalid_border{
    border: 2rem solid var(--salmonRed);
    background: var(--salmonRed_opacity);
}

.info{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 14rem;

    align-items: center;
    text-align: center;
}

.info h3{
    font:bold 24rem 'Quicksand', sans-serif;
}

.info p{
    font:22rem 'Quicksand', sans-serif;
    color: var(--gray);
}

.form i{
    font-size: 100rem;
    color: var(--hospital_green);
}

nav{
    position: fixed;
    top: 0;
    z-index: 10;

    width: 100%;
    padding: 14rem;
    user-select: none;

    display: grid;
    place-items: center;

    background: var(--white);
    box-shadow: 0 4rem 12rem #00000029;
}

.navbar_content{
    width: 90%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar_content > img{
    height: 36rem;
}

.navbar_content .fa-bars{
    display: none;
}

.navbar_content i{
    font-size: 26rem;
    color: var(--dark);
}

.navbar_items{
    display: flex;
    align-items: center;
    gap: 26rem;
}

.signIn_email input{
    display: none;
}

.signIn_email label{
    display: flex;
    align-items: center;
    gap: 6rem;

    cursor: pointer;

    font: var(--h1_body);
    color: var(--gray);
}

.signIn_email label > i{
    font-size: 14rem;
    color: var(--gray);
}

.signIn_email input:checked ~ .signIn_panel{
    display: flex;
}

.signIn_panel{
    position: absolute;
    z-index: 11;
    
    width: 180rem;
    padding: 20rem;
    margin-top: 10rem;
    margin-left: 50rem;

    display: none;
    flex-direction: column;

    text-align: end;
    background: var(--white);
    box-shadow: 0 4rem 12rem #00000029;
}

.signIn_panel ul{
    display: flex;
    flex-direction: column;
    gap: 22rem;
    
    padding-bottom: 20rem;
    border-bottom: 1rem solid var(--gray_light);
    margin-bottom: 20rem;
}

.signIn_panel ul a{
    font: var(--h1_title);
    color: var(--dark);
}


.panel_footer a{
    font: bold 16rem 'Quicksand', sans-serif;
    color: var(--hospital_green);

}

.box_search{
    position: absolute;
    top: 110rem;
    z-index: 2;

    width: 90%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20rem;

    background: var(--white);
}

.search{
    width: 100%;
    padding: 14rem;

    display: flex;
    justify-content: start;
    align-items: center;
    gap: 12rem;

    font-size: 20rem;

    border-radius: 10rem;
    background: var(--textInputField);
    color: var(--gray_light);
}

.search input{
    width: 100%;

    color: var(--gray);
    background: none;
    font: bold 18rem 'Quicksand', sans-serif;
}

.search input::placeholder{
    color: var(--gray_light);
}

.category{
    width: 100%;
    padding-top: 6rem;

    display: flex;
    justify-content: flex-start;
    gap: 10rem;

    font:var(--h1_title);
    color: var(--gray_light);
}

.category p label{
    cursor: pointer;
    padding: 4rem 12rem;

    border-radius: 8rem;
}

.category p input{
    display: none;
}

.category p input:checked + label{
    border: 2rem solid var(--hospital_green);
    color: var(--hospital_green);
}

.category p input:not(:checked) + label{
    border: none;
    color: var(--gray_light);
}

.filter{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12rem;

    font: bold 20rem 'Quicksand', sans-serif;
}

.filter select{
    display: flex;
    align-items: center;

    font-size: 20rem;
    color: var(--gray_light);
}

.product_list{
    position: absolute;
    top: 290rem;
    z-index: 1;
    
    width: 90%;

    display: grid;
    grid-template-columns: repeat(auto-fill, var(--card_size));
    grid-gap: 26rem;
    place-content: center;

    padding-bottom: 18rem;
}

.product_card{
    display: flex;
    flex-direction: column;
    gap: 8rem;

    font: 16rem 'Quicksand', sans-serif;
    color: var(--gray);
}

.product_card > img{
    height: var(--card_size);
    width: var(--card_size);
    border-radius: 10rem;
}

.product_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product_info > p strong{
    font-size: 18rem;
    color: var(--dark);
}

.cart_icon{
    width: 36rem;
    height: 36rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cart_icon label{
    width: 100%;
    height: 100%;

    cursor: pointer;
}

.cart_icon label i{
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 100%;
}

.cart_icon label .fa-shopping-cart{
    display: none;

    color: var(--hospital_green);
    background: none;
}

.cart_icon label .fa-cart-plus{
    display: none;

    color: var(--white);
    background: var(--hospital_green);
}

.cart_icon input:checked ~ label .fa-shopping-cart{
    display: flex;
}

.cart_icon input:not(:checked) ~ label .fa-cart-plus{
    display: flex;
}

@media(max-width: 640px){
    .form2{
        position: absolute;
        top: 110rem;
        align-items: flex-start;
    }

    .navbar_content .fa-bars{
        display: block;
    }

    .signIn_email{
        display: none;
    }

    .signUp_button{
        position: fixed;
        bottom: 40rem;
        
        width: 80%;
    }

    .category{
        padding-bottom: 20rem;
        overflow-x: scroll;
    }

    .product_list{
        top: 320rem;

        --card_size: 160rem;
    }
}