/* imports */

/* Iconos */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");

/* Quicksand Font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* Roboto Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    /* Color palette */
    --very_light_pink: #C7C7C7;
    --hospital_green: #ACD9B2;
    --salmonRed: #d04949;
    --salmonRed_opacity: #d049495f;
    --white: #ffffff;
    --gray: #7d7c7c;
    --gray_light: #7d7c7c69;
    --dark: #232830;
    --black: #000000;

    /* elements color */
    --textInputField: #f7f7f7;

    /* Fonts */
    --sm: 14rem;
    --md: 16rem;
    --lg: 18rem;

    --h1_fontSize: var(--lg);
    --h1_title: bold var(--h1_fontSize) 'Quicksand', sans-serif;
    --h1_body: var(--h1_fontSize) 'Quicksand', sans-serif;
    --h1_price: bold var(--h1_fontSize) 'Roboto', sans-serif;

    --card_size: 200rem;
}

html{
    font-size: 6.25%;
}

body{
    width: 100%;
    height: 100vh;
    padding: 20rem;

    display: grid;
    place-items: center;
    /* overflow: hidden; */

    font-family: 'Quicksand', sans-serif;
    background: var(--white);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    list-style: none;
    outline: none;
    appearance: none;
    border: none;
    text-decoration: none;
    user-select: none;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 52rem;

    width: 90%;
    max-width: 430rem;
}

.logo{
    height: 46rem;
}

.data{
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 20rem;
}

.input{
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 8rem;

    font: var(--h1_title);
}

.input input{
    border-radius: 8rem;
    padding: 12rem;

    background: var(--textInputField);
    font: var(--h1_body);
}

.actions{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32rem;

    font: var(--h1_body);
}

.actions input{
    color: var(--white);
    background: var(--hospital_green);
}

.actions input:hover{
    color: var(--hospital_green);
    background: var(--white);
}

.actions a{
    color: var(--hospital_green);
}

.primary_button{
    width: 100%;

    padding: 20rem;
    border-radius: 10rem;
    font: var(--h1_title);

    cursor: pointer;
    border: 4rem solid var(--hospital_green);
}

.signUp_button{
    color: var(--hospital_green);
    background: var(--white);
}

.signUp_button:hover{
    background: var(--hospital_green);
    color: var(--white);
}

.login_footer{
    width: 100%;
}

#invalid_text{
    color: var(--salmonRed);
}

#invalid_border{
    border: 2rem solid var(--salmonRed);
    background: var(--salmonRed_opacity);
}

.info{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 14rem;

    align-items: center;
    text-align: center;
}

.info h3{
    font:bold 24rem 'Quicksand', sans-serif;
}

.info p{
    font:22rem 'Quicksand', sans-serif;
    color: var(--gray);
}

.form i{
    font-size: 100rem;
    color: var(--hospital_green);
}

nav{
    position: fixed;
    z-index: 10;
    top: 0;

    width: 100%;
    padding: 14rem;

    display: grid;
    place-items: center;

    background: var(--white);
    box-shadow: 0 4rem 12rem #00000029;
}

.navbar_content{
    z-index: 11;
    width: 90%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar_content > a > img{
    cursor: pointer;
    height: 36rem;
}

.navbar_content > a > strong{
    display: none;

    color: var(--dark);
    font-size: 20rem;
}

.navbar_content .items_left{
    display: none;
}

.navbar_content i{
    font-size: 26rem;
    color: var(--dark);
}

nav .items_right{
    display: flex;
    align-items: center;
    gap: 26rem;
}

.signIn_email input{
    display: none;
}

.signIn_email label{
    display: flex;
    align-items: center;
    gap: 6rem;

    cursor: pointer;

    font: var(--h1_body);
    color: var(--gray);
}

.signIn_email label > i{
    font-size: 14rem;
    color: var(--gray);
}

.signIn_email input:checked ~ .signIn_panel{
    display: flex;
}

.signIn_panel{
    position: absolute;
    z-index: 11;
    
    width: 180rem;
    padding: 20rem;
    margin-top: 10rem;
    margin-left: 50rem;

    display: none;
    flex-direction: column;

    text-align: end;
    background: var(--white);
    box-shadow: 0 4rem 12rem #00000029;
}

.signIn_panel ul{
    display: flex;
    flex-direction: column;
    gap: 22rem;
    
    padding-bottom: 20rem;
    border-bottom: 1rem solid var(--gray_light);
    margin-bottom: 20rem;
}

.signIn_panel ul a{
    font: var(--h1_title);
    color: var(--dark);
}


.panel_footer a{
    font: bold 16rem 'Quicksand', sans-serif;
    color: var(--hospital_green);

}

.shoping_cart label > i{
    cursor: pointer;
}

.box_search{
    position: absolute;
    top: 94rem;
    z-index: 2;

    width: 90%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 26rem;

    background: var(--white);
}

.search{
    width: 100%;
    padding: 14rem;

    display: flex;
    justify-content: start;
    align-items: center;
    gap: 12rem;

    font-size: 20rem;

    border-radius: 10rem;
    background: var(--textInputField);
    color: var(--gray_light);
}

.search label{
    cursor: pointer;
}

.search input{
    width: 100%;

    color: var(--gray);
    background: none;
    font: bold 18rem 'Quicksand', sans-serif;
}

.search input::placeholder{
    color: var(--gray_light);
}

.category{
    width: 100%;
    padding-top: 6rem;

    display: flex;
    justify-content: flex-start;
    gap: 10rem;

    font:var(--h1_title);
    color: var(--gray_light);
}

.category p label{
    cursor: pointer;
    padding: 4rem 12rem;

    border-radius: 8rem;
}

.category p input{
    display: none;
}

.category p input:checked + label{
    border: 2rem solid var(--hospital_green);
    color: var(--hospital_green);
}

.category p input:not(:checked) + label{
    border: none;
    color: var(--gray_light);
}

.filter{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12rem;

    cursor: pointer;

    font: bold 20rem 'Quicksand', sans-serif;
}

.filter select{
    cursor: pointer;
    display: flex;
    align-items: center;

    font-size: 20rem;
    color: var(--gray_light);
}

.filter label{
    cursor: pointer;
}

.product_list{
    position: absolute;
    top: 290rem;
    z-index: 1;
    
    width: 90%;

    display: grid;
    grid-template-columns: repeat(auto-fill, var(--card_size));
    grid-gap: 26rem;
    place-content: center;

    padding-bottom: 18rem;
}

.product_card{
    cursor: pointer;

    display: flex;
    flex-direction: column;
    gap: 8rem;

    font: 16rem 'Quicksand', sans-serif;
    color: var(--gray);
}

.product_card > label > img{
    cursor: pointer;

    height: var(--card_size);
    width: var(--card_size);
    border-radius: 10rem;
}

.product_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product_info > p strong{
    font-size: 18rem;
    color: var(--dark);
}

.cart_icon{
    width: 36rem;
    height: 36rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cart_icon label{
    width: 100%;
    height: 100%;

    cursor: pointer;
}

.cart_icon label i{
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 100%;
}

.cart_icon label .fa-shopping-cart{
    display: none;

    color: var(--hospital_green);
    background: none;
}

.cart_icon label .fa-cart-plus{
    display: none;

    color: var(--white);
    background: var(--hospital_green);
}

.cart_icon input:checked ~ label .fa-shopping-cart{
    display: flex;
}

.cart_icon input:not(:checked) ~ label .fa-cart-plus{
    display: flex;
}

.items_left input{
    display: none;
}

.items_left label{
    cursor: pointer;
}

.items_left input:checked ~ .optMobile_panel{
    display: flex;
}

.optMobile_panel{
    position: absolute;
    z-index: 11;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;
    padding: 30rem;    
    
    display: none;
    flex-direction: column;

    background: var(--white);
    
    font-size: 24rem;
    font-family: 'Quicksand' , sans-serif;
    font-weight: bold;
}

.optMobile_panel .close{
    position: absolute;
    align-self: flex-end;
}

.close label > i{
    color: var(--gray);
}

.navbar_content .items_left > input:not(:checked) ~ .optMobile_panel{
    display: none;
}

.optMobile_panel ul{
    display: flex;
    flex-direction: column;
    gap: 26rem;

    padding-top: 12rem;
    padding-bottom: 30rem;
    border-bottom: 1rem solid var(--gray_light);
    margin-bottom: 10rem;
}

.optMobile_panel a{
    color: var(--dark);
}

.panelMobile_footer{
    padding-top: 16rem;

    display: flex;
    flex-direction: column;
    gap: 12rem;
}

.panelMobile_footer p{
    font-size: 20rem;
    font-weight: normal;
}

.panelMobile_footer a{
    font-size: 20rem;
    color: var(--hospital_green);
}

.product_detail{
    position: fixed;
    /* overflow-y: scroll; */

    z-index: 9;
    right: 0;
    margin-top: 56rem;
    margin-left: 400rem;
    padding-bottom: 50rem;    
    
    height: 94vh;
    max-width: 500rem;
    min-width: 400rem;

    display: none;
    flex-direction: column;
    gap: 52rem;

    background: var(--white);
}

.space{
    padding: 0 30rem;
}

.img_carrusel{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img_carrusel img{
    width: 100%;
}

.detail{
    display: flex;
    flex-direction: column;
    gap: 20rem;

    color: var(--gray);
    font-weight: 100;
    font-size: 20rem;
}

.detail .title{
    font-weight: 400;
}

.detail .title p > strong{
    color: var(--dark);
}

.detail .content{
    text-align: left;
}

.product_detail .close{
    position: fixed;
    cursor: pointer;
    z-index: 10;
    top: 60rem;

    margin-top: 16rem;
    margin-left: 16rem;
    padding: 4rem;

    width: 40rem;
    height: 40rem;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 24rem;

    background: var(--white);
    border-radius: 50%;
}

.product_detail .close  > i{
    color: var(--black);
    opacity: .5;
}

#productDetail_panel{
    display: none;
}

#productDetail_panel:checked ~ .product_detail{
    display: flex;
}

#shoping_cart{
    display: none;
}

#shoping_cart:checked ~ .shopingCart_panel{
    display: flex;
}

.shopingCart_panel{
    position: fixed;
    z-index: 10;
    
    top: 0;
    right: 60rem;
    margin-top: 54rem;
    padding: 20rem;

    height: 80vh;
    max-width: 600rem;
    min-width: 400rem;

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 40rem;

    font-size: 20rem;
    background: var(--white);
    border-radius: 10rem;
    box-shadow: 0 4rem 12rem #0000002c;
}

.cart_items{
    overflow-y: scroll;
    padding-right: 20rem;

    display: flex;
    flex-direction: column;
    gap: 30rem;

    height: 70vh;
}

.cart_items li{
    height: auto;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart_items li > input{
    display: none;
}

.cart_items li > div{
    display: flex;
    align-items: center;
    gap: 16rem;

    text-align: start;
    font-size: 18rem
}

.cart_items .product{
    max-width: 400rem;
    margin-right: 28rem;
}

.cart_items .product img{
    max-width: 80rem;
    border-radius: 10rem;
}

.cart_items li .message{
    display: none;
}

.cart_items .price{
    width: 120rem;

    display: flex;
    justify-content: center;

    text-align: end;
}

.cart_items .price label > i{
    cursor: pointer;
    opacity: .5;
}

.cart_items li > input:checked ~ div{
    opacity: .5;
}

.cart_items li > input:checked ~ .product{
    margin-right: 0;
}

.cart_items li > input:checked ~ .product p{
    display: none;
}

.cart_items li > input:checked ~ .price{
    width: auto;
}

.cart_items li > input:checked ~ .price strong{
    display: none;
}

.cart_items li > input:checked ~ .message{
    display: block;
}

.shopingCart_panel .footer_panel{
    padding-top: 20rem;

    display: flex;
    flex-direction: column;
    gap: 20rem;

    border-top: 1rem solid var(--gray_light);
}

.footer_panel .price_total{
    padding: 26rem 16rem;

    display: flex;
    justify-content: space-between;

    color: var(--dark);
    font-size: 18rem;
    font-weight: bold;

    border-radius: 10rem;
    background: var(--textInputField);
}

.orders_panel{
    position: absolute;
        
    top: 0;
    margin-top: 100rem;
    width: 88%;

    display: flex;
    flex-direction: column;
    justify-content: center;    
    gap: 36rem;
    
    font-size: 20rem;
}

.orders_panel > strong{
    font-size: 28rem;

    padding-bottom: 20rem;
    border-bottom: 1rem solid var(--gray_light);
}

.orders{
    display: flex;
    flex-direction: column;
    gap: 36rem;
}

.orders li{
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.orders .info{
    align-items: flex-start;
    text-align: start;

    gap: 4rem;
}

.orders .info p{
    font-size: 18rem;
}

.orders .price{
    display: flex;
    align-items: center;
    gap: 26rem;

    font-size: 20rem;
    color: var(--dark);
}

.orders .price i{
    cursor: pointer;

    font-size: 18rem;
    color: var(--gray);
}

.order{
    padding: 20rem;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: var(--textInputField);
    border-radius: 10rem;
}

.order .info{
    align-items: flex-start;
    text-align: start;

    gap: 4rem;
}

.order .info p{
    font-size: 18rem;
}

.order .price{
    color: var(--dark);
}

@media(max-width: 640px){
    .form2{
        position: absolute;
        top: 110rem;
        align-items: flex-start;
    }

    .navbar_content .items_left{
        display: block;
    }

    .signIn_email{
        display: none;
    }

    .signUp_button{
        position: fixed;
        bottom: 40rem;
        
        width: 80%;
    }

    .category{
        padding-bottom: 20rem;
        overflow-x: scroll;
    }

    .product_list{
        top: 310rem;

        --card_size: 160rem;
    }

    .product_detail{
        overflow-y: scroll;

        max-width: 100%;
        margin-left: 0;
    }

    .product_detail .signUp_button{
        position: relative;
        width: 100%;
        bottom: 0;
    }

    .shopingCart_panel{
        padding: 20rem 18rem;
        padding-left: 24rem;
        padding-bottom: 80rem;
        margin-top: 52rem;
        
        right: 0;
        z-index: 9;

        width: 100%;
        height: 100%;
    }

    .cart_items .product{
        max-width: 216rem;
        margin-right: 20rem;
    }

    .shopingCart_panel .signUp_button{
        position: relative;
        width: 100%;
        bottom: 0;
    }

    #shoping_cart:checked ~ nav .navbar_content a > img{
        display: none;
    }

    #shoping_cart:checked ~ nav .navbar_content a > .shoping{
        display: block;
    }
}